<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{header :: head}">

</head>
<body>
<header th:replace="~{header :: header}">
</header>
<main>
    <div class="main-admin">
        <div  th:replace="~{admin :: admin}"></div>

        <div class="admin-content">
            <h1 th:text="'Product Manage'" style="text-align: center; margin: 50px"> </h1>
            <a href="/admin/addproduct" class="btn btn-success">Add Product</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="product, iterStat : ${products}">
                    <td th:text="${product.name}"></td>
                    <td><img th:src="${product.image}" alt="ảnh" style="width: 100px;height: 100px"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${product.size.sizeEu}"></td>
                    <td th:text="${product.price}"></td>
                    <td ><a class="link-offset-1" th:href="@{/admin/editproduct/{id}(id=${product.id})}">Edit</a></td>
                    <td ><a class="link-offset-1" th:href="@{/admin/deleteproduct/{id}(id=${product.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>